.cardGroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;

  .card {
    @include cardStyles();
    background-color: $azul;
    display: flex;
    flex-direction: column;
  }

  .imagenMuseo {
    max-width: 100%;
    height: auto;
    border: 2px black solid;
    border-radius: 5px;
  }

  .cardBody {
    color: $blanco;
    padding: 1vw;
  }

  .cardTitle {
    text-decoration: underline;
    font-size: 2.5vh;
  }

  .cardText {
    font-size: 1.8vh;
  }
}
