footer {
  .divider {
    border-top: 2px solid $negro;
    width: 95%;
    margin: 20px 0px;
  }

  .footerUl {
    text-align: center;
  }

  .icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0px 20px 0px 20px;
  }

  .footerLi {
    display: inline-block;
    margin-right: 20px;
  }
}
