@media screen and (max-width: 991px) {


  .main {
    .map {
      display: none;
    }
  }
}

@media screen and (min-width: 991px) {
  .main {
    .containerMap {
      .text {
        width: 70%;
      }
    }
  }
  
  .formStyle {
    width: 50%;
  }
}
