@media screen and (max-width: 1166px) {
  .main {
    .containerMap {
      display: grid;

      .text {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .formStyle {
    max-width: 90%;
  }
}
