.tabla {
  width: 90%;
  border: 2px black solid;
  margin: 3%;

  .encabezado {
    background-color: $azul;
    color: #fafafa;
  }

  .col1 {
    width: 1fr;
    border: 2px black solid;
  }

  .col2 {
    width: 1fr;
    border: 2px black solid;
  }

  .col3 {
    width: 2fr;
    border: 2px black solid;
  }
}
